@using Server.TypeDefinition;
@using System.Collections.Generic;
@model Server.ViewModel.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="jumbotron">
    <h1>AirBuild</h1> 
    <p>Continuous Integration and Automatic deployment for Internet of Things</p> 
  </div>

  <p>Following devices are currently connected to the server</p> 

    <table class="table table-hover">
    <thead>
        <tr>
            <th>MAC ID</th>
            <th>Nickname</th>
            <th>Current Build</th>
            <th>Environment</th>
            <th>Status</th>
            <th>Switch</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var device in Model.Devices)
    {
        bool isPP = device.isPreProductionDevice;
        <tr>
            <td>
                @device.MacID
            </td>

            <td>
                @device.Nickname
            </td>

            <td>
                @device.currentBuild
            </td>
            @if(isPP)
            {
                <td style="background:yellow">
                    <p>Pre-Production</p>
                </td>
            }
            else{
                <td style="background:greenyellow">
                    <p>Production</p>
                </td>
            }
            <td>
                @device.currentStatus.ToString()
            </td>
            <td>
                <a href="/Home/Switch/@device.MacID">
                    <p>Switch to @(isPP? "Production" : "Pre-Production")</p>
                </a>
            </td>
        </tr>
    }
    </tbody>
    </table>
</div>